ContactsClient/ContactsDatalayer/Service References/ContactsService/ContactsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:16992/ContactsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:16992/ContactsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:16992/ContactsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ContactsShared" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactsService_GetContact_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContact" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContactByPhone_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactByPhone" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContactByPhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactByPhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContacts" />
  </wsdl:message>
  <wsdl:message name="IContactsService_GetContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Remove_InputMessage">
    <wsdl:part name="parameters" element="tns:Remove" />
  </wsdl:message>
  <wsdl:message name="IContactsService_Remove_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactsService">
    <wsdl:operation name="GetContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/GetContact" message="tns:IContactsService_GetContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/GetContactResponse" message="tns:IContactsService_GetContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactByPhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/GetContactByPhone" message="tns:IContactsService_GetContactByPhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/GetContactByPhoneResponse" message="tns:IContactsService_GetContactByPhone_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/GetContacts" message="tns:IContactsService_GetContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/GetContactsResponse" message="tns:IContactsService_GetContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/Update" message="tns:IContactsService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/UpdateResponse" message="tns:IContactsService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/Create" message="tns:IContactsService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/CreateResponse" message="tns:IContactsService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactsService/Remove" message="tns:IContactsService_Remove_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactsService/RemoveResponse" message="tns:IContactsService_Remove_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContactsService" type="tns:IContactsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetContact">
      <soap:operation soapAction="http://tempuri.org/IContactsService/GetContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactByPhone">
      <soap:operation soapAction="http://tempuri.org/IContactsService/GetContactByPhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContacts">
      <soap:operation soapAction="http://tempuri.org/IContactsService/GetContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IContactsService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/IContactsService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Remove">
      <soap:operation soapAction="http://tempuri.org/IContactsService/Remove" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactsService">
    <wsdl:port name="BasicHttpBinding_IContactsService" binding="tns:BasicHttpBinding_IContactsService">
      <soap:address location="http://localhost:16992/ContactsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>